*{
    background-color: cadetblue;
}

li {
    list-style: none;
}

header {
    height: 100px;
    background-color: orange;
    width: auto;
}

.header-left {
    height: 150px;
    width: 200px;
    float: left;
    line-height: 100px;
    text-align: center;
}

.header-middle {
    float: right;
    height: 100px;
    margin-right: 400px;
    line-height: 100px;
    background-color: orange;
}

.header-right {
    height: 35px;
    width: 400px;
    float: right;
    background-color: orchid;
}

.header-right ul {

}

.header-right li {
    color: white;
    border-left: 2px solid black;
    padding-left: 15px;
    margin-left: 5px;
    float: right;
}

.header-right li a {
    
}
